asgiref==3.11.0
attrs==25.4.0
black==26.1.0
click==8.3.1
colorama==0.4.6
cssbeautifier==1.15.4
Django==6.0.1
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
djlint==1.36.4
drf-spectacular==0.29.0
EditorConfig==0.17.1
inflection==0.5.1
jsbeautifier==1.15.4
json5==0.13.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.0.4
platformdirs==4.5.1
psycopg2-binary==2.9.11
PyJWT==2.10.1
python-decouple==3.8
pytokens==0.4.1
PyYAML==6.0.3
referencing==0.37.0
regex==2026.1.15
rpds-py==0.30.0
six==1.17.0
sqlparse==0.5.5
tqdm==4.67.1
typing_extensions==4.15.0
uritemplate==4.2.0
